@keyframes slide-up {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  
.animate-slide-up {
  animation: slide-up 1.5s ease-in-out forwards;
  animation-delay: calc(var(--delay, 0) * 0.1s);
}

@keyframes eighth-slide-up {
  0% {
    transform: translateY(4%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-content {
  animation: eighth-slide-up 1.5s ease-in-out forwards;
  animation-delay: calc(var(--delay, 0) * 0.1s);
}