/* Native styling not necessary */

html, body, #app, #app>div {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
  
  }

h1{
    /*xl5*/
    font-size: 3rem;
    line-height: 1;
}

h2{
    font-size: 1.875rem; /*  xl3 */
    line-height: 2.25rem;
}

h3{
    font-size: 1.25; /*  xl */
    line-height: 1.75rem;
}